﻿<div class="jumbotron">
    <h1>Hello cac ban hom nay la buoi demo cicd su dung jenkins</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
       We are one, heooooooooooooooooooooooooooooo, yeah
    </div>
    <div class="col-md-4">
       Before Edit, this is another test
    </div>
    <div class="col-md-4">
        My name is: Pham Nhu The Huy
    </div>
    <div>NCChanh edited</div>
</div>
